// Variables
*{
	margin: 0;
	padding: 0;
}


$blue:#0d6efd !default;
$link-color:#FF9ADA;
$link-hover-color: #FF84E1;
$link-decoration:underline !default;
$nav-link-padding-y:.5em !default;
$nav-link-padding-x: 1em !default;
$nav-link-font-size: null !default;
$nav-link-font-weight:null !default;
$nav-link-color: $link-color !default;
$nav-color:#F584C1;
$hover-navcolor:#00D0FD;
$tbc:#F20F88;
$chc:#fcc500;
$contact-bg:#F20F88;
$contact-bg2:#89253e;


$W-25:25%;
$W-50:50%;
$W-75:75%;
$W-100:100%;

$d-flex:flex;
$d-block:block;



