// Variables
*{
	margin: 0;
	padding: 0;
}


$blue:#0d6efd !default;
$link-color:#FF9ADA;
$link-hover-color: #FF84E1;
$link-decoration:underline !default;
$nav-link-padding-y:.5em !default;
$nav-link-padding-x: 1em !default;
$nav-link-font-size: null !default;
$nav-link-font-weight:null !default;
$nav-link-color: $link-color !default;
$nav-color:#FFA3D4;
$hover-navcolor:#00D0FD;
$tbc:#FFBDE0;
$chc:#fcc500;
$contact-bg:#FFBDE0;
$contact-bg2:#89253e;



$W-25:25%;
$W-50:50%;
$W-75:75%;
$W-100:100%;

$d-flex:flex;
$d-block:block;

$cor-1: #FFBDE0;
$cor-2: #FFBDE0;
$cor-3: #FFBDE0; 



